.x_panel{
    background: #ddd8b9;
    opacity:0.95;
}
.tile-stats{
    background: #ddd8b9;
    opacity: 0.95;
}

.x_content[_ngcontent-c2] {
    background-color: #8f9fbc;
}
.x_panel[_ngcontent-c2] {
    background: #bd86aa9c;
}