.left_col {
    background: #55457a;
    }
    
    .x_panel{
        background: #cee2ff;;
    }
   
    .titre {
        font-family: 'Abril Fatface', cursive;
    }
    .left_col {
        background-color: #666699;
        }
        
        .titre {
            font-family: 'Abril Fatface', cursive;
        }
        .bg-primary {
            background-color: #55457a !important;
        }