.left_col {
    background: #55457a;
    }
    
    .x_panel{
        background: #cee2ff;;
    }
   
    .titre {
        font-family: 'Abril Fatface', cursive;
    }
  
    .x_panel[_ngcontent-c1] {
        background: #627a9e;
    }